img {
  width: 100%;
}

div.app {
  width: 80%;
  margin: auto;
}

div.logo-img {
  width: 15%;
  margin: 0 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  margin: 25px;
}

ul li a {
  color: black;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;

}

div.order a {
  color: black;
  text-decoration: none;
  font-weight: 700;
  border: 3px solid blueviolet;
  margin: 25px;
  padding: 5px;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cccccc;
  margin-bottom: 25px;

  position: fixed;
  top: 0;
  width: 80%;
  z-index: 11;
}


div.container {
  /* display: grid;
  grid-template-columns: 0.15fr 1fr; */
  margin-top: 7%;
}

footer {
  background-color: #cccc;

}

footer div {
  width: 50%;
  margin: auto;
}

footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul li {
  margin: 10px;
}

footer p {
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}